body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
}

h1 {
	color: teal;
}

.welcome {
	margin-top: 3rem;
	text-align: center;
}

.controls {
	margin-left: 8rem;
}

.controls > * {
	margin-right: 1.5rem;
	display: inline-block;
}

button {
	background-color: teal;
	color: #fff;
	border: none;
	cursor: pointer;
}

.color-picker input, button {
	width: 6rem;
	border: none;
	border-radius: 10px;
	padding: 0.5rem 0.5rem;
}

canvas {
	border: 3px solid #000;
	margin: 2% 8%;
	width: 80vw;
	height: 60vh;
}